.container {
  position: relative;

  margin-left: 4rem;
  margin-top: 4rem;
}

.container div {
  display: inline-block;
  text-align: left;
  width: 70px;
  height: 60px;
  border: 1px solid black;
  font-size: 1rem;
}

.container div:nth-child(even) {
  border: 1px solid red;
}

.container div:nth-child(odd)>span:nth-child(even) {
  color: green;
}

.container div:nth-last-of-type(2)>span:nth-last-child() {
  color: blue;
}


.container div:nth-last-of-type()> :not(:nth-last-of-type()) {
  color: yellow;
}

.container div span:first-child {
  position: absolute;
  bottom: -25px;
  left: 30px;
}

.container div span:nth-child(2) {
  position: absolute;
  bottom: -25px;
  left: 30px;
}

.container div span:last-child span :last-child {
  position: absolute;
  top: 20px;
  left: 80px;

}

.container div span:first-child span :last-child {
  position: absolute;
  top: 20px;
  left: -20px;


}